
<div class="container">
  <div class="divided-content">
    <div>
      <img src="/img/1.svg" alt="Ilustración de computador" class="content-image">
    </div>
    <div>
      <h1>Bienvenidos a SIOPS</h1>
      <p>Somos un proyecto local dedicado al desarrollo de software para pequeñas y medianas empresas (PYMEs), con la misión de transformar y organizar nuestra comunidad. Creemos firmemente en el potencial de nuestro pueblo y estamos comprometidos en ofrecer soluciones tecnológicas accesibles y efectivas que impulsen el crecimiento y la eficiencia de los negocios locales.</p>
    </div>
  </div>
  <br>
  <div class="divided-content">
    <div><h1>Nuestras Soluciones y Servicios</h1>
    <p>En SIOPS, entendemos las necesidades específicas de las PYMEs y trabajamos arduamente para proporcionar herramientas que faciliten su gestión diaria. Ofrecemos una variedad de soluciones gratuitas diseñadas para ayudar a los emprendedores a optimizar sus operaciones sin incurrir en costos adicionales. Además, nuestros servicios incluyen:</p></div>
    <div><img src="/img/2.svg" class="content-image"></div>
  </div>

  <ul>
    <li><b>Servicio Técnico: </b> Nuestro equipo está siempre listo para resolver cualquier problema técnico y asegurar que sus sistemas funcionen sin inconvenientes.</li>
    <li><b>Desarrollo de Aplicaciones Personalizadas: </b> Creamos aplicaciones a medida que se adaptan perfectamente a los requerimientos únicos de cada negocio, mejorando su productividad y competitividad.</li>
    <li><b>Creación de Páginas Web: </b> Diseñamos sitios web personalizados que reflejan la identidad de su empresa y atraen a su público objetivo, ayudándolos a destacar en el mercado digital.</li>
  </ul>

  <p>Nuestra visión es clara: queremos que nuestro pueblo sea un modelo de organización y modernidad, donde las PYMEs tengan acceso a la mejor tecnología y recursos para prosperar. Nos enorgullece ser parte de esta comunidad y contribuir activamente a su desarrollo.</p>
  <p>En SIOPS, no solo ofrecemos servicios, sino que también construimos relaciones de confianza con nuestros clientes, trabajando juntos para alcanzar sus objetivos y superar sus expectativas. ¡Unámonos en este viaje hacia un futuro más organizado y tecnológico para todos!</p>
  <hr>
  <h5 class="text-center">Contacta con nosotros hoy mismo para descubrir cómo podemos ayudarte a llevar tu negocio al siguiente nivel.</h5>
  <hr>
</div>
